.adress{
    text-align: right;
    font-size: normal;
}

.adress__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 1;
}

.adress__shedule{
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;  
    margin-right: 2px;  
}

.adress__shedule--footer{
    color: #9A9A9A;
    font-size: 11px;
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown__menu{
    display: block;
}

.dropdown__menu{
    position: absolute;
    background: #EDEDED;
    padding: 10px 20px;
    border-radius: 5px;
    color: #1E1F20;
    width: 160px;
    top: 100%;
    display: none;
}

.dropdown__item--text{
    font-size: 13px;
    font-weight: 700;
    margin-left: 0;
    height: 21px;
}

.dropdown__item--text--lunch{
    font-size: 13px;
    font-weight: 400;
}