.adress{
    text-align: right;
    font-size: normal;
    display: block;
    max-width: 200px;
}

.adress__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 1;
}

.adress__shedule{
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;  
    margin-right: 2px;  
}

.adress__shedule--footer{
    color: #9A9A9A;
    font-size: 11px;
}

.dropdown{
    position: relative;
    display: inline-block;
    justify-content: flex-end;
}

.dropdown:hover .triangle{
    left: -60;
    opacity: 1;
}

.dropdown:hover .dropdown__menu{
    left: -60px;
    opacity: 1;
}

.triangle {
    position: relative;
    border: 10px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: #EDEDED;
    border-top-width: 0;
    border-left-width: 5;
    border-right-width: 5;
    margin-bottom: -10px;
    top: 100%;
    left: 60px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .4s;
 }

.dropdown__menu{
    position: absolute;
    background: #EDEDED;
    padding: 10px 19px;
    border-radius: 5px;
    color: #1E1F20;
    width: 160px;
    top: 100%;
    left: -9999px;
    margin-top: 10px;
    opacity: 0;
    transition: opacity .4s;
}

.dropdown__menu:before{
    content: "";
    display: block;
    height: 20px;
    left: 0;
    right: 0;
    top: -19px;
    position: absolute;
}

.dropdown__item{
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dropdown__item--text--lunch{
    font-size: 13px;
    font-weight: 400;
}