.breadcrumbs__list{
    display: flex;
    align-items: center;
}

.breadcrumbs__item{
    display: flex;
    align-items: center;

}

.breadcrumbs__item--active .breadcrumbs__link{
    font-weight: bold;
}

.breadcrumbs__link{
    color: #9A9A9A;
    font-size: 14px;
    font-weight: normal;
    padding-left: 2px;
}

.breadcrumbs__item:after{
    padding-left: 2px;
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
    display: none;
}
