.social{
    
    margin-right: 74px;
}

.social__list{
    
}

.social__item{
    margin-right: 6px;
    display: inline-block;
    margin-right: 6px;
    width: 36px;
    height: 36px;
}

.social__item:last-child{
    margin-right: 0;
}

.social__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social__item--tg .social__link:before{
    opacity: 1;
}

.social__item--tg .social__link:after{
    opacity: 0;
}

.social__item--tg .social__link:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -234px -10px;
    transition: .3s;
}

.social__item--tg .social__link:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -290px -10px;
    opacity: 0;
    transition: .3s;
}


.social__item--vk .social__link:before{
    opacity: 1;
}

.social__item--vk .social__link:after{
    opacity: 0;
}

.social__item--vk .social__link:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png")-346px -10px;
    opacity: 0;
    transition: .3s;
}

.social__item--vk .social__link:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -402px -10px;
    transition: .3s;
}


.social__item--f .social__link:before{
    opacity: 1;
}

.social__item--f .social__link:after{
    opacity: 0;
}
.social__item--f .social__link:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -10px -10px;
    opacity: 0;
    transition: .3s;
}

.social__item--f .social__link:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -66px -10px;
    transition: .3s;
}


.social__item--in .social__link:before{
    opacity: 1;
}

.social__item--in .social__link:after{
    opacity: 0;
}
.social__item--in .social__link:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -122px -10px;
    opacity: 0;
    transition: .3s;
}

.social__item--in .social__link:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -178px -10px;
    transition: .3s;
}

