.social{
    margin-right: 74px;
}

.social__list{
    display: inline-block;
    justify-content: center;
}

.social__item{
    margin-right: 6px;
    margin-right: 6px;
}

.social__item:last-child{
    margin-right: 0;
}

.social__link{
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.social__link-tg:hover:before{
    opacity: 1;
}

.social__link-tg:hover:after{
    opacity: 0;
}

.social__link-tg:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -234px -10px;
    transition: .3s;
}

.social__link-tg:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -290px -10px;
    opacity: 0;
    transition: .3s;
}
/*

.social__link-vk:hover:before{
    opacity: 1;
}

.social__link-vk:hover:after{
    opacity: 0;
}

.social__link-vk:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png")-346px -10px;
    opacity: 0;
    transition: .3s;
}

.social__link-vk:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -402px -10px;
    transition: .3s;
}


.social__link-f:hover:before{
    opacity: 1;
}

.social__link-f:hover:after{
    opacity: 0;
}
.social__link-f:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -10px -10px;
    opacity: 0;
    transition: .3s;
}

.social__link-f:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -66px -10px;
    transition: .3s;
}


.social__link-in:hover:before{
    opacity: 1;
}

.social__link-in:hover:after{
    opacity: 0;
}
.social__link-in:before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -122px -10px;
    opacity: 0;
    transition: .3s;
}

.social__link-in:after{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px; 
    height: 36px;
    background: url("./../../imeges/sprites.png") -178px -10px;
    transition: .3s;
}

